@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins', sans-serif;
  color: azure;
  background-image: url("https://media.discordapp.net/attachments/447166256487989279/447181294921711646/steam.jpg?width=841&height=474");
}

h2 {
  color: #00F5FF;
}

h3 {
  color: white;
}

.título {
  color: red;
  font-size: 50px
}
